[submodule "vim/.vim/bundle/vim-puppet"]
	path = vim/.vim/bundle/vim-puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/snipmate.vim"]
	path = vim/.vim/bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim
[submodule "vim/.vim/bundle/jellybeans.vim"]
	path = vim/.vim/bundle/jellybeans.vim
	url = git://github.com/nanotech/jellybeans.vim.git
[submodule "vim/.vim/bundle/Zenburn"]
	path = vim/.vim/bundle/Zenburn
	url = git://github.com/jnurmine/Zenburn.git
[submodule "vim/.vim/bundle/vim-pathogen"]
	path = vim/.vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/.vim/bundle/nginx.vim"]
	path = vim/.vim/bundle/nginx.vim
	url = https://github.com/vim-scripts/nginx.vim
